path {
    stroke: black;
    fill: none;
}
line {
    stroke: black;
}
path.marker {
    fill: black;
}
rect:hover {
  fill-opacity:0.5;
}
 
.axis {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
}
.axis path,
.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}
.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #000000;
  padding: 14px;
  text-align: center;
  border-radius:5px;
}